In [1]:
import pandas as pd

In [2]:
quantifiers = pd.read_csv('outputs/quantifiers.csv')

In [3]:
quantifying = quantifiers.groupby('To')[['IH per Praise']].sum().sort_values('IH per Praise', ascending=True).reset_index()

In [4]:
quantifying

              To  IH per Praise
0     GriffGreen    -892.347946
1    sembrestels    -844.384981
2        liviade    -818.244017
3      JuankBell    -646.363111
4        Tam2140    -642.666085
..           ...            ...
63     ethicraul      36.819493
64  JonathanBSci      37.748540
65      simondlr      42.682392
66      trentmc0      51.516617
67      mzargham      88.368295

[68 rows x 2 columns]

In [6]:
results = pd.read_excel("data/TEC Praise Quantification.xlsx", sheet_name="Deducted IH Results (after audi", engine='openpyxl', header=1, usecols="A:B")
# results.to_csv('outputs/audit_results.csv',index=False)

In [29]:
quantifying['To'] = quantifying['To'].str.lower()
results['Handle'] = results['Handle'].str.lower()

In [43]:
merged = results.merge(quantifying, left_on='Handle', right_on='To', how='outer')

In [44]:
merged[merged['Handle'].isna()].tail(40)

    Handle  Total Deductions                   To  IH per Praise
76     NaN               NaN                  NaN            NaN
77     NaN               NaN                  NaN            NaN
78     NaN               NaN                  NaN            NaN
79     NaN               NaN                  NaN            NaN
80     NaN               NaN                  NaN            NaN
81     NaN               NaN                  NaN            NaN
82     NaN               NaN                  NaN            NaN
83     NaN               NaN                  NaN            NaN
84     NaN               NaN                  NaN            NaN
85     NaN               NaN                  NaN            NaN
86     NaN               NaN                  NaN            NaN
87     NaN               NaN                  NaN            NaN
88     NaN               NaN                  NaN            NaN
89     NaN               NaN                  NaN            NaN
90     NaN               NaN                  NaN            NaN
91     NaN               NaN                  NaN            NaN
92     NaN               NaN                  NaN            NaN
93     NaN               NaN                  NaN            NaN
94     NaN               NaN                  NaN            NaN
95     NaN               NaN  kristoferkristofer      -39.039983
96     NaN               NaN            joez#9988       0.967169
97     NaN               NaN               wslyvh       6.486757
98     NaN               NaN           cranders71      10.380506
99     NaN               NaN               tannra      14.744150
100    NaN               NaN      benjaminscholtz      16.393090
101    NaN               NaN              akrtws       19.835453
102    NaN               NaN             solsista      21.287698
103    NaN               NaN           willjgriff      24.638649
104    NaN               NaN                vntrp      24.968266
105    NaN               NaN             danlessa      27.097440
106    NaN               NaN               lkngtn      29.411873
107    NaN               NaN        nathalia#0926      31.139808
108    NaN               NaN                upaul      32.882496
109    NaN               NaN       randomshinichi      34.437689
110    NaN               NaN             sherminv      36.417103
111    NaN               NaN            ethicraul      36.819493
112    NaN               NaN         jonathanbsci      37.748540
113    NaN               NaN             simondlr      42.682392
114    NaN               NaN             trentmc0      51.516617
115    NaN               NaN             mzargham      88.368295

Since we are OK with the adjustments that do not appear in the final results, then we will drop them and move on.

In [47]:
merged = merged[~merged['Handle'].isna()]

In [48]:
merged

                Handle  Total Deductions                To  IH per Praise
0           griffgreen       -892.347946        griffgreen    -892.347946
1          sembrestels       -845.946843       sembrestels    -844.384981
2              liviade       -825.279094           liviade    -818.244017
3            juankbell       -646.363111         juankbell    -646.363111
4              tam2140       -642.666085           tam2140    -642.666085
5       jessicazartler       -598.716910    jessicazartler    -596.421543
6            paulo_c2d       -506.628127         paulo_c2d    -474.593642
7         chuygarcia92       -400.025463      chuygarcia92    -385.955308
8               markop       -387.962118            markop    -386.262934
9               vegayp       -341.679162            vegayp    -343.149310
10           iviangita       -340.368953         iviangita    -332.589495
11          jeffemmett       -296.817679        jeffemmett    -256.243904
12         freedumbs00       -282.197450       freedumbs00    -355.543300
13     vitormarthendal       -251.683375   vitormarthendal    -246.749243
14     divine_comedian       -218.288358   divine_comedian    -173.180397
15           naynaysoo       -199.827364         naynaysoo    -322.322136
16           suga#8514       -190.683498         suga#8514    -139.739070
17           laurenluz       -171.269265         laurenluz    -152.700899
18             fabimol       -169.623785           fabimol    -178.884597
19           krisjones       -169.011073         krisjones    -166.291348
20           zeptimusq       -167.792233         zeptimusq    -167.792233
21           mateodaza       -160.297296         mateodaza     -81.807933
22        vyvy-vi#5040       -159.159469      vyvy-vi#5040    -148.386829
23         ygganderson       -149.170545       ygganderson    -142.968565
24        fabiosmendes        -93.035663      fabiosmendes    -103.675261
25            knobsdao        -86.794514          knobsdao     -77.242005
26               xgabi        -55.193882             xgabi     -17.567154
27  kristoferkristofer        -54.616715               NaN            NaN
28              atacas        -37.915032            atacas     -37.335532
29            vivszaid        -37.722339          vivszaid     -39.406315
30          fiorebotta        -33.690559        fiorebotta     -34.188997
31          aminlatifi        -22.983000        aminlatifi     -21.024087
32     acidlazzer#5796        -22.581326   acidlazzer#5796     -22.581326
33     mount manu#3530        -21.925134   mount manu#3530     -13.307329
34            heater03        -20.839626          heater03     -14.304126
35           lescanore        -18.939973         lescanore     -18.939973
36         geleeroyale        -18.076953       geleeroyale     -22.881765
37        rubenrussel7        -16.940196      rubenrussel7     -16.940196
38           danibelle        -15.920268         danibelle      -6.721330
39       katalenacaban        -15.150450     katalenacaban     -16.082950
40              sgonzt        -15.139750            sgonzt     -10.048500
41        anthonyoliai        -13.804952      anthonyoliai     -14.426702
42       merlinegalite        -11.665343     merlinegalite      -3.048975
43         jukren#8803        -11.191299       jukren#8803     -11.191299
44              gfriis         -5.790307            gfriis      -8.890310
45           freshelle         -1.842858         freshelle      -1.842858
46       bradleyc#1813         -1.272516     bradleyc#1813      -1.272516
47    ekeneodigwe#1502         -1.152142  ekeneodigwe#1502      -2.304284

In [51]:
merged['Diff'] = (merged['Total Deductions'] - merged['IH per Praise']).apply(lambda x: round(x,2))

In [52]:
merged.sort_values('Diff')

,Handle,Total Deductions,To,IH per Praise,Diff
21,mateodaza,-160.297296,mateodaza,-81.807933,-78.49
16,suga#8514,-190.683498,suga#8514,-139.739070,-50.94
14,divine_comedian,-218.288358,divine_comedian,-173.180397,-45.11
11,jeffemmett,-296.817679,jeffemmett,-256.243904,-40.57
26,xgabi,-55.193882,xgabi,-17.567154,-37.63
6,paulo_c2d,-506.628127,paulo_c2d,-474.593642,-32.03
17,laurenluz,-171.269265,laurenluz,-152.700899,-18.57
7,chuygarcia92,-400.025463,chuygarcia92,-385.955308,-14.07
22,vyvy-vi#5040,-159.159469,vyvy-vi#5040,-148.386829,-10.77
25,knobsdao,-86.794514,knobsdao,-77.242005,-9.55
38,danibelle,-15.920268,danibelle,-6.721330,-9.20
33,mount manu#3530,-21.925134,mount manu#3530,-13.307329,-8.62
42,merlinegalite,-11.665343,merlinegalite,-3.048975,-8.62
10,iviangita,-340.368953,iviangita,-332.589495,-7.78
2,liviade,-825.279094,liviade,-818.244017,-7.04
34,heater03,-20.839626,heater03,-14.304126,-6.54
23,ygganderson,-149.170545,ygganderson,-142.968565,-6.20
40,sgonzt,-15.139750,sgonzt,-10.048500,-5.09
13,vitormarthendal,-251.683375,vitormarthendal,-246.749243,-4.93
19,krisjones,-169.011073,krisjones,-166.291348,-2.72
5,jessicazartler,-598.716910,jessicazartler,-596.421543,-2.30
31,aminlatifi,-22.983000,aminlatifi,-21.024087,-1.96
8,markop,-387.962118,markop,-386.262934,-1.70
1,sembrestels,-845.946843,sembrestels,-844.384981,-1.56
28,atacas,-37.915032,atacas,-37.335532,-0.58
37,rubenrussel7,-16.940196,rubenrussel7,-16.940196,-0.00
35,lescanore,-18.939973,lescanore,-18.939973,0.00
43,jukren#8803,-11.191299,jukren#8803,-11.191299,0.00
45,freshelle,-1.842858,freshelle,-1.842858,0.00
32,acidlazzer#5796,-22.581326,acidlazzer#5796,-22.581326,-0.00
0,griffgreen,-892.347946,griffgreen,-892.347946,-0.00
46,bradleyc#1813,-1.272516,bradleyc#1813,-1.272516,0.00
20,zeptimusq,-167.792233,zeptimusq,-167.792233,-0.00
4,tam2140,-642.666085,tam2140,-642.666085,-0.00
3,juankbell,-646.363111,juankbell,-646.363111,-0.00
30,fiorebotta,-33.690559,fiorebotta,-34.188997,0.50
41,anthonyoliai,-13.804952,anthonyoliai,-14.426702,0.62
39,katalenacaban,-15.150450,katalenacaban,-16.082950,0.93
47,ekeneodigwe#1502,-1.152142,ekeneodigwe#1502,-2.304284,1.15
9,vegayp,-341.679162,vegayp,-343.149310,1.47
29,vivszaid,-37.722339,vivszaid,-39.406315,1.68
44,gfriis,-5.790307,gfriis,-8.890310,3.10
36,geleeroyale,-18.076953,geleeroyale,-22.881765,4.80
18,fabimol,-169.623785,fabimol,-178.884597,9.26
24,fabiosmendes,-93.035663,fabiosmendes,-103.675261,10.64
12,freedumbs00,-282.197450,freedumbs00,-355.543300,73.35
15,naynaysoo,-199.827364,naynaysoo,-322.322136,122.49
27,kristoferkristofer,-54.616715,NaN,NaN,NaN

Need to add in the deducted audit results

In [53]:
results = pd.read_excel("data/TEC Praise Quantification.xlsx", sheet_name="Deduction Audit Results", engine='openpyxl', header=1, usecols="A:D")

In [56]:
merged = merged.merge(results[['Handle', 'Impact Hours Calc']], left_on='Handle', right_on='Handle')

In [58]:
merged['Audit Results Diff'] = merged['Diff'] - merged['Impact Hours Calc']

In [60]:
merged.sort_values('Audit Results Diff')

,Handle,Total Deductions,To,IH per Praise,Diff,Impact Hours Calc,Audit Results Diff
2,jeffemmett,-296.817679,jeffemmett,-256.243904,-40.57,4.397127,-44.967127
13,xgabi,-55.193882,xgabi,-17.567154,-37.63,-1.473682,-36.156318
5,divine_comedian,-218.288358,divine_comedian,-173.180397,-45.11,-13.649700,-31.460300
10,mateodaza,-160.297296,mateodaza,-81.807933,-78.49,-67.556792,-10.933208
1,iviangita,-340.368953,iviangita,-332.589495,-7.78,1.368500,-9.148500
11,ygganderson,-149.170545,ygganderson,-142.968565,-6.20,-1.985445,-4.214555
4,vitormarthendal,-251.683375,vitormarthendal,-246.749243,-4.93,-1.139250,-3.790750
6,naynaysoo,-199.827364,naynaysoo,-322.322136,122.49,125.868000,-3.378000
9,krisjones,-169.011073,krisjones,-166.291348,-2.72,-1.169325,-1.550675
19,geleeroyale,-18.076953,geleeroyale,-22.881765,4.80,5.867313,-1.067313
18,heater03,-20.839626,heater03,-14.304126,-6.54,-6.535500,-0.004500
16,vivszaid,-37.722339,vivszaid,-39.406315,1.68,1.683976,-0.003976
22,merlinegalite,-11.665343,merlinegalite,-3.048975,-8.62,-8.616369,-0.003631
20,katalenacaban,-15.150450,katalenacaban,-16.082950,0.93,0.932500,-0.002500
8,fabimol,-169.623785,fabimol,-178.884597,9.26,9.260812,-0.000812
15,atacas,-37.915032,atacas,-37.335532,-0.58,-0.579500,-0.000500
0,vegayp,-341.679162,vegayp,-343.149310,1.47,1.470148,-0.000148
12,fabiosmendes,-93.035663,fabiosmendes,-103.675261,10.64,10.639598,0.000402
21,sgonzt,-15.139750,sgonzt,-10.048500,-5.09,-5.091250,0.001250
17,fiorebotta,-33.690559,fiorebotta,-34.188997,0.50,0.498438,0.001562
3,freedumbs00,-282.197450,freedumbs00,-355.543300,73.35,73.345850,0.004150
7,laurenluz,-171.269265,laurenluz,-152.700899,-18.57,-19.550750,0.980750
14,kristoferkristofer,-54.616715,NaN,NaN,NaN,-11.628058,NaN

In [25]:
import numpy as np

In [26]:
merged[merged.replace(np.nan, 'a')['To'].str.startswith('k')]

           Handle  Total Deductions                   To  IH per Praise
25       knobsDAO        -86.794514             knobsDAO     -77.242005
39  katalenacaban        -15.150450        katalenacaban     -16.082950
95            NaN               NaN  kristoferkristofer      -39.039983

In [28]:
merged[merged['To']=='kristoferkristofer']

Empty DataFrame
Columns: [Handle, Total Deductions, To, IH per Praise]
Index: []