In [7]:
from web3 import Web3
web3 = Web3()

from google.cloud import bigquery
from decimal import Decimal

ether_threshold = 0.1
limit = 5e6
wei_threshold = web3.to_wei(Decimal(ether_threshold), 'ether')

sql = f"""
select *
from `bigquery-public-data.crypto_ethereum.balances`
where eth_balance > {wei_threshold}.0
order by eth_balance desc
limit {limit}
"""

client = bigquery.Client(project='active-thunder-339322')
df = client.query(sql).to_dataframe()

In [40]:
from web3 import Web3
web3 = Web3()

df = df.rename({'eth_balance': 'wei_balance'},axis=1)
df['eth_balance'] = df['wei_balance'].apply(lambda wei: web3.from_wei(int(wei), 'ether'))

In [43]:
df

,address,wei_balance,eth_balance
0,0x00000000219ab540356cbb839cbe05303d7705fa,17955959168232416675747075.000000000,17955959.168232416675747075
1,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,3777742758878138858852957.000000000,3777742.758878138858852957
2,0xbe0eb53f46cd790cd13851d5eff43d12404d33e8,1996008283764188532048987.000000000,1996008.283764188532048987
3,0xda9dfa130df4de4673b89022ee50ff26f6ea73cf,1780839974384348762870467.000000000,1780839.974384348762870467
4,0x0716a17fbaee714f1e6ab0f9d59edbc5f09815c0,1636037377135017987539780.000000000,1636037.37713501798753978
...,...,...,...
4985566,0x247dfd47e92faad8015bc84025fb1fc2fa0d3da0,100000000000000006.000000000,0.100000000000000006
4985567,0x9bdca0e3e6652df45d78ee9dbb9d1ee8a1766468,100000000000000006.000000000,0.100000000000000006
4985568,0xa4e304eebea33533815e3745c60d2813b6139bd8,100000000000000006.000000000,0.100000000000000006
4985569,0xca14f65c8f650916ec1e6e34ac624d686ffa9399,100000000000000006.000000000,0.100000000000000006
4985570,0xb5cc15d4a4350db8ad8f13486bde6c0cbed9a61d,100000000000000006.000000000,0.100000000000000006

In [44]:
df.to_csv('eth_balances_large.csv',index=False)